.slider {
  position: relative;
  &__slide{


  }
  &__slide-description {
    position: absolute;
    top: 256px;
    right: 130px;
    max-width: 600px;
    &-title {
      font-size: 43px;
      line-height: 43px;
      color: #fff;
      margin: 0;
      margin-bottom: 13px;
    }
    &-red {
      color: @red;
    }
    &-big {
      font-size: 80px;
      line-height: 80px;
    }
    &-text {
      font-size: 18px;
      line-height: 24px;
      color: @grey-txt;
      margin: 0;
      margin-bottom: 33px;
    }
  }
}