.user-info {
  font-size: 0;
  width: 470px;
  line-height: 0;
  &__link{
    color: @grey-txt;
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 150px;
    padding-left: 25px;
    box-sizing: border-box;   
    position: relative;
    margin-right: 21px;
    &:nth-child(1) {
      width: 100px;
      margin-right: 29px;
    }
    &--mail{
      margin-right: 0;
    }
    &:before{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      background: url("../img/sprites.png") no-repeat;
    } 
    &--language:before{
      background-position: -177px -132px;
    }
    &--tel:before{
      background-position: -177px -157px;
    }
    &--mail:before{
      background-position: -5px -184px;
    }
    &__btn{
      display: none;
    }
  } 
}