.user-info{
  font-size: 0;
  width: 470px;
  line-height: 0;
  &__link{
    color: @grey-txt;
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 150px;
    padding-left: 25px;
    box-sizing: border-box;
    position: relative;
    margin-right: 21px;
    &:nth-child(1){
      width: 100px;
      margin-right: 29px;
    }
    &--mail{
      margin-right: 0;
    }
    &:before{
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      background: url("../img/sprites.png") no-repeat;
    }
    &--language:before{
      background-position: -10px -868px;
    }
    &--tel:before{
      width: 10px;
      height: 17px;
      background-position: -10px -1114px;
    }
    &--mail:before{
      width: 18px;
      height: 16px;
      background-position: -10px -1296px;
    }
    &__btn{
      display: none;
    }
  }
}